## Visual Studio cache/options
.vs/

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

## User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

## Rider
.idea/
*.sln.iml

## Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/

## Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## Others
*.cache
*.log
*.vsidx
*.vspscc
*.vssscc
